* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/white-waves.png);

    
}

header {
   
    position: relative;
    background: white;
    width: 100%;
    padding: 40px;
    border-color: #cccccc;
    border-bottom-style: solid;
    
    
}

h1 {
    position: absolute;
    padding: 40px 40px;
    background: #4aaaa5;
    font-size: 25px;
    text-align: center;
    line-height: 5px;
    color: white;
    bottom: 0px;
    left: 355px;
    font-weight: bold;
    
    
    
}

h2 {
    color: #4aaaa5;
    margin-bottom: 10px;
}

.links {
  
    position: absolute;
    float: right;
    right: 355px;
  
}

.aboutme {

    width: 960px;
    height: 600px;
    padding: 20px;
    background: white;
    margin: 0 auto;
    margin-top: 90px;
    margin-bottom: 50px;
    border-color: #cccccc;
    border-style: outset;
    border-width: 1px;

}

p {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 20px;
    padding-left: 20px;
    line-height: 35px;
    font-size: 20px;
    
}

.clearfix {
    overflow: auto;
    float: left;
}

img {
    margin-top: 27px;
    margin-right: 10px;
    display: block;
    
}

footer {
    background-color: #666666;
    position: absolute;
    width: 100%;
    padding: 20px;
    /* float: left; */
    border-top-style: solid;
    border-color: #4aaaa5; 
    bottom: 0px;
    
}

.footer {
    position: absolute;
    text-align: center;
    color: white;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;
   
}

.nameemail {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.message {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: #777777;
    word-spacing: 30px;
}

.line {

    margin-bottom: 20px;

}

.button {
    background: #4aaaa5;
    padding: 15px 30px;
    color: white;
    font-size: 20px;
}


.column {
    float: left;
    width: 25%;
    padding: 5px;
    position: relative;
  }
  
 
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .project {
      position: absolute;
      color: white;
      padding: 20px;
      background: #4aaaa5;
      width: 96%;
      bottom: 10px;
      text-align: center;
      
  }

 


